





body {
  margin:0;
text-align:center;
  font-family: verdana,sans-serif;
}
h1 {
  width:60%;
  margin:0 auto;

}


img{
  border-radius: 50%;
}

.top-container{
   background-color: #b7efcd;
height: 100px;
}
.mid-container{
  text-align:center;
background-color: #e5e5e5;
height: 800px;
}

.bottom-container{
background-color: #e5e5e5;
}
